<%- include('partials/header') %>


<header class="py-5">

                <h1 class="display-5 fw-bold"> Bon Voyage</h1>
                <h3 class="fs-4"><%= startingContent %></h3>
                <a class="btn btn-primary btn-lg" href="/compose">Recommend</a>
</header>

                <% posts.forEach(function(post){ %>
                    <h1 class="body" style="text-align: center;"><%=post.city_name%></h1> 
                    <h4 style="text-align: center;"><a href="<%= post.travel_url %>" class="lead fw-normal text-muted mb-5 mb-lg-0">Google Map Link</a></h4>
                    <div style="text-align: center;"> <img src="<%= post.image_url %>"" alt="<%= post.city_name %>" style="width: 400px;"></div>
                    <h5 style="text-align: center;"><a href="/posts/<%= post.city_name %>">Read More</a></h5>
                    <% }); %>
            

<!-- <% posts.forEach(function(post){ %>
    <h1> <%=post.title%></h1>
    <p>  <%=post.content%></p> -->
    <!-- <h4><a href="<%= post.content %>">Google Map Link</a></h4>
    <img src="<%= post.imageUrl %>"" alt="<%= post.title %>" style="width: 300px;">
    <p><a href="/posts/<%= post.title %>">Read More</a></p>
    <% }); %> -->


<!-- <%- include('partials/footer') %> 

