<%- include('partials/header') %>

    <div> 
        <h1><%=title%></h1>
        <h4><a href="<%= content %>">Google Map Link</a></h4>
    </div>


    <div>
        <img src="<%= image %>"" alt="<%= title %>" style="width: 400px;">
    </div>

    <div><h3>Description:</h3>
        <h5><%=description%></h5>
    </div>

<%- include('partials/footer') %>